body, html {
  height: 100%;
}
button {
font-size:0.70em;
margin-top:0.2em;
margin-left:0.5em;
margin-bottom:0.25em;
}

#chart {
	margin-left:15%;
}

#label p {
    display: block;
    font-size: .70em;
    margin-top:0.30em;
    margin-bottom:0.30em;
}



svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
float:left; 
zoom:60%;
}

 li {
font-size: 1.0em;
}


.info {
    float:left;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding-left: 8px;
    padding-bottom:8px;	
    padding-right:8px;
    background:rgba(255, 255, 255, 0.96);
}

.key {
   width:15%;
height:100%;   
float:left;
position: fixed; top: 50px; left: 10px; width: 170px;
}


 h1{
font-size: 1.3em;
margin-bottom:0.4em;

}
path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12.5px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}
